<script>
	$('li').removeClass('active');
	$('#home').addClass('active');
</script>


<div class="container jumbotron">
	<div class="jumbotron-background">
		<h1 class="war">Glorifying the battle is romance with the war!</h1>
		<h2 class="love blur">You need to love the game to be here.</h2>
		<div class="loginbutton">
			<button class="btn btn-primary btn-lg center">Log In with Facebook</button>
		</div>
	</div>
</div>